---
// src/pages/the-shop/index.astro
import Layout from "@/layouts/Layout.astro";
import { siteConfig } from "@/lib/site-config";
import Button from "@/components/Button.astro";
---

<Layout title="The Shop | El Camino">
  <section class="p-1 pb-0 flex flex-col gap-1">
    <header
      class="flex flex-col lg:flex-row-reverse items-start lg:items-center gap-4 lg:gap-8"
    >
      <div class="basis-1/2 p-4 md:p-12 lg:p-12 my-8 w-full">
        <div class="max-w-lg mx-auto">
          <h1
            class="flex flex-col-reverse font-display font-black text-7xl lg:text-8xl xl:text-9xl 2xl:text-[9rem] leading-[1] text-(--content-heading) text-balance mb-2"
          >
            <span>The Shop</span>
            <small
              class="font-sans font-semibold text-sm lg:text-md max-w-[18ch] lg:max-w-full tracking-wide uppercase mb-2 text-(--content-meta)"
            >
              {siteConfig.tagline}
            </small>
          </h1>
          <p class="text-pretty mb-4">
            More than a skate shop. We're here to build and uplift our
            community, friends, and fellow skaters in the Chippewa Valley.
          </p>
          <!-- <p class="text-pretty text-(--content-meta)">
            "It was all a dream, I used to read Big Brother magazine."
          </p> -->
          <div class="flex flex-row gap-2 mt-8">
            <Button variant="primary" href="/shop/all">Shop Now</Button>
            <Button variant="outline" href="/news">Latest News</Button>
          </div>
        </div>
      </div>

      <div
        class="aspect-square border-4 border-(--surface-secondary) overflow-hidden bg-(--surface-secondary) relative basis-1/2 self-center w-full"
      >
        <div class="relative w-full h-full">
          <div
            class="loading-skeleton absolute inset-0 animate-pulse bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200"
            id="article-hero-placeholder"
            style="animation: shimmer 1.5s ease-in-out infinite;"
          >
            <div
              class="absolute inset-0 flex items-center justify-center opacity-70"
              style="background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2232%22%20viewBox%3D%220%200%2036%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.014%2032h-.07a13%2013%200%200%201-3.455-.456c-1.567-.441-2.468-1.263-2.644-1.422-.174-.163-1.064-.992-1.549-2.493-.484-1.502-.238-3.252-.198-3.533.278-1.982.967-3.164%201.113-3.415a7.8%207.8%200%200%201%202.137-2.355c.213-.152%201.304-.932%202.996-1.374.287-.074%201.702-.441%203.695-.441%201.225%200%202.01.096%202.184.118.97.117%201.597.262%201.734.294.764.177%201.23.361%201.334.402l1.031.422-.635%204.514h-3.124c-.43-.706-.933-.982-1.038-1.04-.596-.334-1.175-.334-1.281-.334-.095%200-.581%200-1.162.216a3.7%203.7%200%200%200-1.054.628c-.08.069-.483.413-.827%201.011-.058.1-.342.59-.45%201.354-.02.149-.177%201.263-.034%201.871.142.609.46.935.523%201.001.064.065.391.393.998.58l.723.146%201.135.03c.17-.005%201.092-.039%202.112-.163%204.23-.714%205.213-4.63%205.708-5.675l.1-.233a8%208%200%200%201%201.206-1.933l.002-.004c.212-.26%201.31-1.615%203.531-2.392l.132-.048a13%2013%200%200%201%202.303-.579c.199-.03%201.22-.186%202.507-.186h.01c1.282%200%202.251.155%202.445.186%201.168.187%201.986.513%202.15.58a6.9%206.9%200%200%201%201.739%201c.12.096.765.608%201.249%201.453.448.782.603%201.773.628%201.933.03.192.172%201.087-.007%202.433-.285%202.149-1.053%203.378-1.218%203.64a8.4%208.4%200%200%201-2.34%202.474%209.5%209.5%200%200%201-3.152%201.374c-.289.066-1.81.416-3.682.416-.194%200-1.153%200-2.427-.161a8.5%208.5%200%200%201-2.134-.55%207%207%200%200%201-1.734-1.03l-.605-.595c-3%201.746-7.412%202.136-8.082%202.195-.2.018-1.476.134-2.514.14zm17.908-10.838c-.469.157-.75.378-.807.422-.328.265-.497.545-.53.599l-.334.677-.177.667-.09.57-.07.568-.012.678.142.686c.017.055.107.344.36.619.044.045.263.265.686.431.082.032.433.167%201.098.167.664%200%201.048-.136%201.134-.167.48-.166.76-.386.818-.431.34-.275.51-.562.544-.619.215-.344.315-.63.335-.686l.179-.678.1-.569.06-.569.01-.667a2.6%202.6%200%200%200-.143-.677c-.018-.053-.109-.334-.373-.599-.045-.046-.264-.265-.698-.422-.082-.032-.423-.167-1.087-.167-.665%200-1.058.137-1.145.167m-14.92-8.684c2.667%200%204.174-.902%204.48-1.365h1.782l-.616%204.376H2.386L3%2011.113l1.4-.252.874-6.212-1.33-.252L4.563%200h14.263l-.615%204.377h-1.718c-.235-.39-1.746-1.365-4.16-1.365l-.508%203.613%203.292-.655-.502%203.57-3.108-.656zm16.37-.777c.47.007%204.464.06%205.687-1.375h1.796l-.726%205.163H17.726l.615-4.376%201.401-.252.874-6.212-1.328-.272L19.904%200h10.48l-.616%204.377-1.404.272z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E'); background-size: 48px 42px; background-position: center; background-repeat: no-repeat;"
            >
            </div>
          </div>

          <img
            src="/src/assets/the-shop-01.png"
            alt="El Camino Skate Shop storefront"
            class="w-full h-full object-cover opacity-0 transition-opacity duration-300"
            loading="eager"
            fetchpriority="high"
            onload="this.style.opacity='0.9';"
            onerror="this.src='data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2244%22%20viewBox%3D%220%200%2048%2044%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2248%22%20height%3D%2244%22%20fill%3D%22white%22%20fill-opacity%3D%220.7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.904%2039.9998L12.827%2040C10.7973%2040%209.28558%2039.5717%208.98823%2039.4875C7.2466%2038.9908%206.24507%2038.0664%206.05024%2037.8868C5.85673%2037.7041%204.86739%2036.7717%204.32907%2035.0827C3.79098%2033.393%204.06438%2031.424%204.10835%2031.1083C4.41789%2028.8789%205.18323%2027.5482%205.34541%2027.2665C6.28447%2025.6546%207.48735%2024.7851%207.72026%2024.617C7.95644%2024.4461%209.16912%2023.5682%2011.049%2023.0713C11.3683%2022.9875%2012.9403%2022.5746%2015.1546%2022.5746C16.5158%2022.5746%2017.3886%2022.6832%2017.5815%2022.7072C18.6588%2022.8396%2019.3555%2023.0028%2019.5075%2023.0382C20.3568%2023.2372%2020.8753%2023.4448%2020.9903%2023.4909L22.1355%2023.9657C21.9004%2025.6583%2021.6653%2027.3511%2021.4303%2029.0439H17.9585C17.4809%2028.2493%2016.9223%2027.9384%2016.8061%2027.8736C16.1433%2027.4983%2015.5003%2027.4983%2015.3821%2027.4983C15.2767%2027.4983%2014.7362%2027.4983%2014.0913%2027.7413C13.9885%2027.7807%2013.4576%2027.9843%2012.9203%2028.4478C12.8311%2028.5247%2012.3829%2028.9116%2012.0013%2029.5847C11.9369%2029.6968%2011.6208%2030.2474%2011.5013%2031.1083C11.478%2031.2752%2011.3041%2032.5284%2011.4628%2033.2133C11.6213%2033.8974%2011.9737%2034.2651%2012.0446%2034.3393C12.1158%2034.4118%2012.4791%2034.7808%2013.1537%2034.9906L13.9563%2035.1554L15.2175%2035.1904C15.4058%2035.1835%2016.431%2035.1461%2017.5641%2035.0065C22.2646%2034.2029%2023.3571%2029.7977%2023.9069%2028.6215L24.0171%2028.3595C24.5561%2027.1344%2025.2245%2026.3417%2025.3573%2026.1846L25.3606%2026.1806C25.5954%2025.8873%2026.8158%2024.3632%2029.2838%2023.4893L29.4298%2023.4357C29.6279%2023.3638%2030.6452%2022.994%2031.9888%2022.7844C32.2096%2022.7503%2033.3443%2022.5746%2034.7747%2022.5746H34.786C36.2098%2022.5754%2037.2871%2022.7496%2037.5022%2022.7844C38.7998%2022.9942%2039.7083%2023.3617%2039.8914%2023.4357C40.9837%2023.8774%2041.6851%2024.4495%2041.8228%2024.5618C41.9576%2024.6701%2042.6738%2025.2462%2043.2108%2026.1956C43.7088%2027.0762%2043.8808%2028.1905%2043.9086%2028.3705C43.9426%2028.5869%2044.1002%2029.5933%2043.9014%2031.1083C43.5843%2033.5256%2042.7306%2034.9081%2042.5479%2035.204C41.5044%2036.9042%2040.1994%2037.8105%2039.9469%2037.986C39.6973%2038.1595%2038.3898%2039.0678%2036.4452%2039.5317C36.1249%2039.6062%2034.4344%2040%2032.3546%2040C32.1384%2040%2031.0728%2040%2029.6578%2039.8188C28.3773%2039.6531%2027.4671%2039.2752%2027.2868%2039.2004C26.2078%2038.7479%2025.4973%2038.1557%2025.3599%2038.0412L24.6875%2037.3722C21.3547%2039.3369%2016.4519%2039.7748%2015.7077%2039.8414C15.4848%2039.8619%2014.0673%2039.9923%2012.9147%2039.9998H12.904ZM32.8021%2027.8074C32.2814%2027.9843%2031.9688%2028.2322%2031.9057%2028.2822C31.5413%2028.5803%2031.3528%2028.8947%2031.3163%2028.9555L30.9453%2029.7173L30.7488%2030.4681L30.6482%2031.1083L30.5709%2031.7486L30.5574%2032.5103L30.7153%2033.2832C30.7339%2033.3441%2030.8345%2033.6693%2031.1147%2033.9787C31.1649%2034.0297%2031.4077%2034.2766%2031.8776%2034.4643C31.9693%2034.4999%2032.3589%2034.652%2033.0973%2034.652C33.8354%2034.652%2034.2618%2034.4987%2034.3574%2034.4643C34.8907%2034.2768%2035.2028%2034.0295%2035.2671%2033.9787C35.6443%2033.6695%2035.8341%2033.3461%2035.8711%2033.2832C36.1097%2032.8959%2036.2213%2032.5748%2036.2438%2032.5103L36.4418%2031.7486L36.5538%2031.1083L36.6197%2030.4681L36.6317%2029.7173C36.6273%2029.6553%2036.6047%2029.3318%2036.4721%2028.9555C36.4528%2028.8957%2036.3511%2028.5801%2036.0581%2028.2822C36.0076%2028.2307%2035.7647%2027.984%2035.2818%2027.8074C35.1915%2027.7713%2034.8119%2027.6198%2034.074%2027.6198C33.3356%2027.6198%2032.8988%2027.7734%2032.8021%2027.8074ZM16.2243%2018.0371C19.1879%2018.0371%2020.8618%2017.0233%2021.2023%2016.5018H23.1817C22.9538%2018.1432%2022.7258%2019.7843%2022.4979%2021.4254H6.6506C6.87851%2019.7843%207.10642%2018.1432%207.33433%2016.5018L8.89093%2016.2182C9.2144%2013.8888%209.53787%2011.5593%209.86133%209.23003L8.38374%208.94627C8.61252%207.29765%208.84152%205.64882%209.07052%204H24.9178C24.6899%205.64133%2024.462%207.28244%2024.2341%208.92377H22.3258C22.0638%208.48625%2020.3852%207.38828%2017.7032%207.38828C17.5148%208.74334%2017.3268%2010.0984%2017.1385%2011.4535C18.3579%2011.2076%2019.5773%2010.962%2020.7968%2010.7161C20.6108%2012.0547%2020.425%2013.3934%2020.2391%2014.7322C19.088%2014.4863%2017.9368%2014.2404%2016.7857%2013.9947C16.5984%2015.3422%2016.4113%2016.6898%2016.2243%2018.0371ZM34.4142%2017.164C34.9358%2017.171%2039.3738%2017.2315%2040.7318%2015.617H42.7278C42.4589%2017.5531%2042.1901%2019.4892%2041.9213%2021.4254H23.6953C23.9233%2019.7843%2024.1512%2018.1432%2024.3791%2016.5018L25.9357%2016.2182C26.2592%2013.8888%2026.5826%2011.5593%2026.9061%209.23003L25.4316%208.92356C25.6594%207.28244%2025.8873%205.64133%2026.1153%204H37.7597C37.5318%205.64133%2037.3038%207.28244%2037.0759%208.92356L35.5161%209.23003C35.1488%2011.8745%2034.7814%2014.5192%2034.4142%2017.164Z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%220.7%22%2F%3E%3C%2Fsvg%3E'; this.style.opacity='1'; document.getElementById('article-hero-placeholder')?.remove();"
          />
        </div>
      </div>
    </header>

    <div
      class="bg-(--surface-secondary) flex flex-col lg:flex-row items-start lg:items-center"
    >
      <div class="relative lg:basis-1/2 px-4 py-8 lg:p-8 xl:p-12 my-8">
        <div class="w-full md:max-w-lg mx-auto">
          <h2
            class="flex flex-col-reverse font-display font-black leading-[1] text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-(--content-heading) text-balance mb-2"
          >
            Our Story
            <small
              class="font-sans font-semibold text-sm lg:text-md tracking-wide uppercase text-(--content-meta)"
            >
              From Dream to Downtown
            </small>
          </h2>
          <div class="space-y-4 text-pretty">
            <blockquote class="text-pretty text-(--content-meta)">
              "It was all a dream, I used to read Big Brother magazine."
            </blockquote>
            <p>
              It started with a 1979 Chevy El Camino and a simple idea: sell
              skate products out the back, pop-up style. Bring gear that wasn't
              available around Eau Claire to the people who needed it. After
              talking to folks in the industry, they all said the same thing:
              "Cool idea, but... you NEED a storefront."
            </p>
            <p>So that's what we did.</p>
            <p>
              Now the mission is clearer than ever: keep growing the skateboard
              scene in and around the Chippewa Valley. Whether you've never
              stepped on a board, a seasoned vet, or you're dusting yours off
              after years, this place is for you.
            </p>
            <p class="text-(--content-meta) italic">
              Skateboarding is sticking around... for better or worse.
            </p>
          </div>
        </div>
      </div>

      <div
        class="aspect-square border-4 border-(--surface-secondary) overflow-hidden bg-(--surface-secondary) relative basis-1/2 self-center w-full"
      >
        <div class="relative w-full h-full">
          <div
            class="loading-skeleton absolute inset-0 animate-pulse bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200"
            id="story-placeholder"
            style="animation: shimmer 1.5s ease-in-out infinite;"
          >
            <div
              class="absolute inset-0 flex items-center justify-center opacity-70"
              style="background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2232%22%20viewBox%3D%220%200%2036%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.014%2032h-.07a13%2013%200%200%201-3.455-.456c-1.567-.441-2.468-1.263-2.644-1.422-.174-.163-1.064-.992-1.549-2.493-.484-1.502-.238-3.252-.198-3.533.278-1.982.967-3.164%201.113-3.415a7.8%207.8%200%200%201%202.137-2.355c.213-.152%201.304-.932%202.996-1.374.287-.074%201.702-.441%203.695-.441%201.225%200%202.01.096%202.184.118.97.117%201.597.262%201.734.294.764.177%201.23.361%201.334.402l1.031.422-.635%204.514h-3.124c-.43-.706-.933-.982-1.038-1.04-.596-.334-1.175-.334-1.281-.334-.095%200-.581%200-1.162.216a3.7%203.7%200%200%200-1.054.628c-.08.069-.483.413-.827%201.011-.058.1-.342.59-.45%201.354-.02.149-.177%201.263-.034%201.871.142.609.46.935.523%201.001.064.065.391.393.998.58l.723.146%201.135.03c.17-.005%201.092-.039%202.112-.163%204.23-.714%205.213-4.63%205.708-5.675l.1-.233a8%208%200%200%201%201.206-1.933l.002-.004c.212-.26%201.31-1.615%203.531-2.392l.132-.048a13%2013%200%200%201%202.303-.579c.199-.03%201.22-.186%202.507-.186h.01c1.282%200%202.251.155%202.445.186%201.168.187%201.986.513%202.15.58a6.9%206.9%200%200%201%201.739%201c.12.096.765.608%201.249%201.453.448.782.603%201.773.628%201.933.03.192.172%201.087-.007%202.433-.285%202.149-1.053%203.378-1.218%203.64a8.4%208.4%200%200%201-2.34%202.474%209.5%209.5%200%200%201-3.152%201.374c-.289.066-1.81.416-3.682.416-.194%200-1.153%200-2.427-.161a8.5%208.5%200%200%201-2.134-.55%207%207%200%200%201-1.734-1.03l-.605-.595c-3%201.746-7.412%202.136-8.082%202.195-.2.018-1.476.134-2.514.14zm17.908-10.838c-.469.157-.75.378-.807.422-.328.265-.497.545-.53.599l-.334.677-.177.667-.09.57-.07.568-.012.678.142.686c.017.055.107.344.36.619.044.045.263.265.686.431.082.032.433.167%201.098.167.664%200%201.048-.136%201.134-.167.48-.166.76-.386.818-.431.34-.275.51-.562.544-.619.215-.344.315-.63.335-.686l.179-.678.1-.569.06-.569.01-.667a2.6%202.6%200%200%200-.143-.677c-.018-.053-.109-.334-.373-.599-.045-.046-.264-.265-.698-.422-.082-.032-.423-.167-1.087-.167-.665%200-1.058.137-1.145.167m-14.92-8.684c2.667%200%204.174-.902%204.48-1.365h1.782l-.616%204.376H2.386L3%2011.113l1.4-.252.874-6.212-1.33-.252L4.563%200h14.263l-.615%204.377h-1.718c-.235-.39-1.746-1.365-4.16-1.365l-.508%203.613%203.292-.655-.502%203.57-3.108-.656zm16.37-.777c.47.007%204.464.06%205.687-1.375h1.796l-.726%205.163H17.726l.615-4.376%201.401-.252.874-6.212-1.328-.272L19.904%200h10.48l-.616%204.377-1.404.272z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E'); background-size: 48px 42px; background-position: center; background-repeat: no-repeat;"
            >
            </div>
          </div>

          <img
            src="/src/assets/the-shop-02.png"
            alt="El Camino shop interior"
            class="w-full h-full object-cover opacity-0 transition-opacity duration-300"
            loading="lazy"
            onload="this.style.opacity='0.9';"
            onerror="this.src='data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2244%22%20viewBox%3D%220%200%2048%2044%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2248%22%20height%3D%2244%22%20fill%3D%22white%22%20fill-opacity%3D%220.7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.904%2039.9998L12.827%2040C10.7973%2040%209.28558%2039.5717%208.98823%2039.4875C7.2466%2038.9908%206.24507%2038.0664%206.05024%2037.8868C5.85673%2037.7041%204.86739%2036.7717%204.32907%2035.0827C3.79098%2033.393%204.06438%2031.424%204.10835%2031.1083C4.41789%2028.8789%205.18323%2027.5482%205.34541%2027.2665C6.28447%2025.6546%207.48735%2024.7851%207.72026%2024.617C7.95644%2024.4461%209.16912%2023.5682%2011.049%2023.0713C11.3683%2022.9875%2012.9403%2022.5746%2015.1546%2022.5746C16.5158%2022.5746%2017.3886%2022.6832%2017.5815%2022.7072C18.6588%2022.8396%2019.3555%2023.0028%2019.5075%2023.0382C20.3568%2023.2372%2020.8753%2023.4448%2020.9903%2023.4909L22.1355%2023.9657C21.9004%2025.6583%2021.6653%2027.3511%2021.4303%2029.0439H17.9585C17.4809%2028.2493%2016.9223%2027.9384%2016.8061%2027.8736C16.1433%2027.4983%2015.5003%2027.4983%2015.3821%2027.4983C15.2767%2027.4983%2014.7362%2027.4983%2014.0913%2027.7413C13.9885%2027.7807%2013.4576%2027.9843%2012.9203%2028.4478C12.8311%2028.5247%2012.3829%2028.9116%2012.0013%2029.5847C11.9369%2029.6968%2011.6208%2030.2474%2011.5013%2031.1083C11.478%2031.2752%2011.3041%2032.5284%2011.4628%2033.2133C11.6213%2033.8974%2011.9737%2034.2651%2012.0446%2034.3393C12.1158%2034.4118%2012.4791%2034.7808%2013.1537%2034.9906L13.9563%2035.1554L15.2175%2035.1904C15.4058%2035.1835%2016.431%2035.1461%2017.5641%2035.0065C22.2646%2034.2029%2023.3571%2029.7977%2023.9069%2028.6215L24.0171%2028.3595C24.5561%2027.1344%2025.2245%2026.3417%2025.3573%2026.1846L25.3606%2026.1806C25.5954%2025.8873%2026.8158%2024.3632%2029.2838%2023.4893L29.4298%2023.4357C29.6279%2023.3638%2030.6452%2022.994%2031.9888%2022.7844C32.2096%2022.7503%2033.3443%2022.5746%2034.7747%2022.5746H34.786C36.2098%2022.5754%2037.2871%2022.7496%2037.5022%2022.7844C38.7998%2022.9942%2039.7083%2023.3617%2039.8914%2023.4357C40.9837%2023.8774%2041.6851%2024.4495%2041.8228%2024.5618C41.9576%2024.6701%2042.6738%2025.2462%2043.2108%2026.1956C43.7088%2027.0762%2043.8808%2028.1905%2043.9086%2028.3705C43.9426%2028.5869%2044.1002%2029.5933%2043.9014%2031.1083C43.5843%2033.5256%2042.7306%2034.9081%2042.5479%2035.204C41.5044%2036.9042%2040.1994%2037.8105%2039.9469%2037.986C39.6973%2038.1595%2038.3898%2039.0678%2036.4452%2039.5317C36.1249%2039.6062%2034.4344%2040%2032.3546%2040C32.1384%2040%2031.0728%2040%2029.6578%2039.8188C28.3773%2039.6531%2027.4671%2039.2752%2027.2868%2039.2004C26.2078%2038.7479%2025.4973%2038.1557%2025.3599%2038.0412L24.6875%2037.3722C21.3547%2039.3369%2016.4519%2039.7748%2015.7077%2039.8414C15.4848%2039.8619%2014.0673%2039.9923%2012.9147%2039.9998H12.904ZM32.8021%2027.8074C32.2814%2027.9843%2031.9688%2028.2322%2031.9057%2028.2822C31.5413%2028.5803%2031.3528%2028.8947%2031.3163%2028.9555L30.9453%2029.7173L30.7488%2030.4681L30.6482%2031.1083L30.5709%2031.7486L30.5574%2032.5103L30.7153%2033.2832C30.7339%2033.3441%2030.8345%2033.6693%2031.1147%2033.9787C31.1649%2034.0297%2031.4077%2034.2766%2031.8776%2034.4643C31.9693%2034.4999%2032.3589%2034.652%2033.0973%2034.652C33.8354%2034.652%2034.2618%2034.4987%2034.3574%2034.4643C34.8907%2034.2768%2035.2028%2034.0295%2035.2671%2033.9787C35.6443%2033.6695%2035.8341%2033.3461%2035.8711%2033.2832C36.1097%2032.8959%2036.2213%2032.5748%2036.2438%2032.5103L36.4418%2031.7486L36.5538%2031.1083L36.6197%2030.4681L36.6317%2029.7173C36.6273%2029.6553%2036.6047%2029.3318%2036.4721%2028.9555C36.4528%2028.8957%2036.3511%2028.5801%2036.0581%2028.2822C36.0076%2028.2307%2035.7647%2027.984%2035.2818%2027.8074C35.1915%2027.7713%2034.8119%2027.6198%2034.074%2027.6198C33.3356%2027.6198%2032.8988%2027.7734%2032.8021%2027.8074ZM16.2243%2018.0371C19.1879%2018.0371%2020.8618%2017.0233%2021.2023%2016.5018H23.1817C22.9538%2018.1432%2022.7258%2019.7843%2022.4979%2021.4254H6.6506C6.87851%2019.7843%207.10642%2018.1432%207.33433%2016.5018L8.89093%2016.2182C9.2144%2013.8888%209.53787%2011.5593%209.86133%209.23003L8.38374%208.94627C8.61252%207.29765%208.84152%205.64882%209.07052%204H24.9178C24.6899%205.64133%2024.462%207.28244%2024.2341%208.92377H22.3258C22.0638%208.48625%2020.3852%207.38828%2017.7032%207.38828C17.5148%208.74334%2017.3268%2010.0984%2017.1385%2011.4535C18.3579%2011.2076%2019.5773%2010.962%2020.7968%2010.7161C20.6108%2012.0547%2020.425%2013.3934%2020.2391%2014.7322C19.088%2014.4863%2017.9368%2014.2404%2016.7857%2013.9947C16.5984%2015.3422%2016.4113%2016.6898%2016.2243%2018.0371ZM34.4142%2017.164C34.9358%2017.171%2039.3738%2017.2315%2040.7318%2015.617H42.7278C42.4589%2017.5531%2042.1901%2019.4892%2041.9213%2021.4254H23.6953C23.9233%2019.7843%2024.1512%2018.1432%2024.3791%2016.5018L25.9357%2016.2182C26.2592%2013.8888%2026.5826%2011.5593%2026.9061%209.23003L25.4316%208.92356C25.6594%207.28244%2025.8873%205.64133%2026.1153%204H37.7597C37.5318%205.64133%2037.3038%207.28244%2037.0759%208.92356L35.5161%209.23003C35.1488%2011.8745%2034.7814%2014.5192%2034.4142%2017.164Z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%220.7%22%2F%3E%3C%2Fsvg%3E'; this.style.opacity='1'; document.getElementById('story-placeholder')?.remove();"
          />
        </div>
      </div>
    </div>

    <div
      class="bg-(--surface-primary) flex flex-col lg:flex-row items-start lg:items-center"
    >
      <div class="relative px-4 py-8 lg:p-8 xl:p-12 my-8">
        <h2
          class="flex flex-col-reverse font-display font-black leading-[1] text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-(--content-heading) text-balance mb-2"
        >
          Shop Team
          <small
            class="font-sans font-semibold text-sm lg:text-md tracking-wide uppercase text-(--content-meta)"
          >
            The People Behind El Camino
          </small>
        </h2>
        <div class="text-pretty max-w-2xl">
          <p class="text-(--content-meta)">
            Check out the team members and friends who make El Camino what it
            is.
          </p>
        </div>
        {/* Shop Team Cards will go here - component TBD */}
      </div>
    </div>

    <div
      class="bg-(--surface-primary) flex flex-col lg:flex-row-reverse items-start lg:items-center"
    >
      <div class="relative lg:basis-1/2 px-4 py-8 lg:p-8 xl:p-12 my-8">
        <div class="w-full md:max-w-lg mx-auto">
          <h2
            class="flex flex-col-reverse font-display font-black leading-[1] text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-(--content-heading) text-balance mb-2"
          >
            The Space
            <small
              class="font-sans font-semibold text-sm lg:text-md tracking-wide uppercase text-(--content-meta)"
            >
              Right on Water Street
            </small>
          </h2>
          <div class="space-y-4 text-pretty">
            <p>
              We're right in the heart of downtown Eau Claire at 310 Water
              Street. The spot used to be a restaurant, so we carved out the old
              commercial kitchen to make room for what you see now: a full
              skateshop plus a tattoo space (for those curious weirdos who are
              18+).
            </p>
            <p>
              Since moving downtown, the foot traffic has changed everything.
              Kids ride their bikes down here all the time. People just stop by.
              That's exactly what we wanted—a place that's accessible and
              welcoming.
            </p>
            <p>
              We've got decks, wheels, hardware, all the essentials. Plus a
              hangout area with a sweet video game setup. Come with questions,
              come for the vibes, or come just because.
            </p>
          </div>
        </div>
      </div>

      <div
        class="aspect-square border-4 border-(--surface-secondary) overflow-hidden bg-(--surface-secondary) relative basis-1/2 self-center w-full"
      >
        <div class="relative w-full h-full">
          <div
            class="loading-skeleton absolute inset-0 animate-pulse bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200"
            id="space-placeholder"
            style="animation: shimmer 1.5s ease-in-out infinite;"
          >
            <div
              class="absolute inset-0 flex items-center justify-center opacity-70"
              style="background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2232%22%20viewBox%3D%220%200%2036%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.014%2032h-.07a13%2013%200%200%201-3.455-.456c-1.567-.441-2.468-1.263-2.644-1.422-.174-.163-1.064-.992-1.549-2.493-.484-1.502-.238-3.252-.198-3.533.278-1.982.967-3.164%201.113-3.415a7.8%207.8%200%200%201%202.137-2.355c.213-.152%201.304-.932%202.996-1.374.287-.074%201.702-.441%203.695-.441%201.225%200%202.01.096%202.184.118.97.117%201.597.262%201.734.294.764.177%201.23.361%201.334.402l1.031.422-.635%204.514h-3.124c-.43-.706-.933-.982-1.038-1.04-.596-.334-1.175-.334-1.281-.334-.095%200-.581%200-1.162.216a3.7%203.7%200%200%200-1.054.628c-.08.069-.483.413-.827%201.011-.058.1-.342.59-.45%201.354-.02.149-.177%201.263-.034%201.871.142.609.46.935.523%201.001.064.065.391.393.998.58l.723.146%201.135.03c.17-.005%201.092-.039%202.112-.163%204.23-.714%205.213-4.63%205.708-5.675l.1-.233a8%208%200%200%201%201.206-1.933l.002-.004c.212-.26%201.31-1.615%203.531-2.392l.132-.048a13%2013%200%200%201%202.303-.579c.199-.03%201.22-.186%202.507-.186h.01c1.282%200%202.251.155%202.445.186%201.168.187%201.986.513%202.15.58a6.9%206.9%200%200%201%201.739%201c.12.096.765.608%201.249%201.453.448.782.603%201.773.628%201.933.03.192.172%201.087-.007%202.433-.285%202.149-1.053%203.378-1.218%203.64a8.4%208.4%200%200%201-2.34%202.474%209.5%209.5%200%200%201-3.152%201.374c-.289.066-1.81.416-3.682.416-.194%200-1.153%200-2.427-.161a8.5%208.5%200%200%201-2.134-.55%207%207%200%200%201-1.734-1.03l-.605-.595c-3%201.746-7.412%202.136-8.082%202.195-.2.018-1.476.134-2.514.14zm17.908-10.838c-.469.157-.75.378-.807.422-.328.265-.497.545-.53.599l-.334.677-.177.667-.09.57-.07.568-.012.678.142.686c.017.055.107.344.36.619.044.045.263.265.686.431.082.032.433.167%201.098.167.664%200%201.048-.136%201.134-.167.48-.166.76-.386.818-.431.34-.275.51-.562.544-.619.215-.344.315-.63.335-.686l.179-.678.1-.569.06-.569.01-.667a2.6%202.6%200%200%200-.143-.677c-.018-.053-.109-.334-.373-.599-.045-.046-.264-.265-.698-.422-.082-.032-.423-.167-1.087-.167-.665%200-1.058.137-1.145.167m-14.92-8.684c2.667%200%204.174-.902%204.48-1.365h1.782l-.616%204.376H2.386L3%2011.113l1.4-.252.874-6.212-1.33-.252L4.563%200h14.263l-.615%204.377h-1.718c-.235-.39-1.746-1.365-4.16-1.365l-.508%203.613%203.292-.655-.502%203.57-3.108-.656zm16.37-.777c.47.007%204.464.06%205.687-1.375h1.796l-.726%205.163H17.726l.615-4.376%201.401-.252.874-6.212-1.328-.272L19.904%200h10.48l-.616%204.377-1.404.272z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E'); background-size: 48px 42px; background-position: center; background-repeat: no-repeat;"
            >
            </div>
          </div>

          <img
            src="/src/assets/the-shop-03.png"
            alt="Inside the shop"
            class="w-full h-full object-cover opacity-0 transition-opacity duration-300"
            loading="lazy"
            onload="this.style.opacity='0.9';"
            onerror="this.src='data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2244%22%20viewBox%3D%220%200%2048%2044%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2248%22%20height%3D%2244%22%20fill%3D%22white%22%20fill-opacity%3D%220.7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.904%2039.9998L12.827%2040C10.7973%2040%209.28558%2039.5717%208.98823%2039.4875C7.2466%2038.9908%206.24507%2038.0664%206.05024%2037.8868C5.85673%2037.7041%204.86739%2036.7717%204.32907%2035.0827C3.79098%2033.393%204.06438%2031.424%204.10835%2031.1083C4.41789%2028.8789%205.18323%2027.5482%205.34541%2027.2665C6.28447%2025.6546%207.48735%2024.7851%207.72026%2024.617C7.95644%2024.4461%209.16912%2023.5682%2011.049%2023.0713C11.3683%2022.9875%2012.9403%2022.5746%2015.1546%2022.5746C16.5158%2022.5746%2017.3886%2022.6832%2017.5815%2022.7072C18.6588%2022.8396%2019.3555%2023.0028%2019.5075%2023.0382C20.3568%2023.2372%2020.8753%2023.4448%2020.9903%2023.4909L22.1355%2023.9657C21.9004%2025.6583%2021.6653%2027.3511%2021.4303%2029.0439H17.9585C17.4809%2028.2493%2016.9223%2027.9384%2016.8061%2027.8736C16.1433%2027.4983%2015.5003%2027.4983%2015.3821%2027.4983C15.2767%2027.4983%2014.7362%2027.4983%2014.0913%2027.7413C13.9885%2027.7807%2013.4576%2027.9843%2012.9203%2028.4478C12.8311%2028.5247%2012.3829%2028.9116%2012.0013%2029.5847C11.9369%2029.6968%2011.6208%2030.2474%2011.5013%2031.1083C11.478%2031.2752%2011.3041%2032.5284%2011.4628%2033.2133C11.6213%2033.8974%2011.9737%2034.2651%2012.0446%2034.3393C12.1158%2034.4118%2012.4791%2034.7808%2013.1537%2034.9906L13.9563%2035.1554L15.2175%2035.1904C15.4058%2035.1835%2016.431%2035.1461%2017.5641%2035.0065C22.2646%2034.2029%2023.3571%2029.7977%2023.9069%2028.6215L24.0171%2028.3595C24.5561%2027.1344%2025.2245%2026.3417%2025.3573%2026.1846L25.3606%2026.1806C25.5954%2025.8873%2026.8158%2024.3632%2029.2838%2023.4893L29.4298%2023.4357C29.6279%2023.3638%2030.6452%2022.994%2031.9888%2022.7844C32.2096%2022.7503%2033.3443%2022.5746%2034.7747%2022.5746H34.786C36.2098%2022.5754%2037.2871%2022.7496%2037.5022%2022.7844C38.7998%2022.9942%2039.7083%2023.3617%2039.8914%2023.4357C40.9837%2023.8774%2041.6851%2024.4495%2041.8228%2024.5618C41.9576%2024.6701%2042.6738%2025.2462%2043.2108%2026.1956C43.7088%2027.0762%2043.8808%2028.1905%2043.9086%2028.3705C43.9426%2028.5869%2044.1002%2029.5933%2043.9014%2031.1083C43.5843%2033.5256%2042.7306%2034.9081%2042.5479%2035.204C41.5044%2036.9042%2040.1994%2037.8105%2039.9469%2037.986C39.6973%2038.1595%2038.3898%2039.0678%2036.4452%2039.5317C36.1249%2039.6062%2034.4344%2040%2032.3546%2040C32.1384%2040%2031.0728%2040%2029.6578%2039.8188C28.3773%2039.6531%2027.4671%2039.2752%2027.2868%2039.2004C26.2078%2038.7479%2025.4973%2038.1557%2025.3599%2038.0412L24.6875%2037.3722C21.3547%2039.3369%2016.4519%2039.7748%2015.7077%2039.8414C15.4848%2039.8619%2014.0673%2039.9923%2012.9147%2039.9998H12.904ZM32.8021%2027.8074C32.2814%2027.9843%2031.9688%2028.2322%2031.9057%2028.2822C31.5413%2028.5803%2031.3528%2028.8947%2031.3163%2028.9555L30.9453%2029.7173L30.7488%2030.4681L30.6482%2031.1083L30.5709%2031.7486L30.5574%2032.5103L30.7153%2033.2832C30.7339%2033.3441%2030.8345%2033.6693%2031.1147%2033.9787C31.1649%2034.0297%2031.4077%2034.2766%2031.8776%2034.4643C31.9693%2034.4999%2032.3589%2034.652%2033.0973%2034.652C33.8354%2034.652%2034.2618%2034.4987%2034.3574%2034.4643C34.8907%2034.2768%2035.2028%2034.0295%2035.2671%2033.9787C35.6443%2033.6695%2035.8341%2033.3461%2035.8711%2033.2832C36.1097%2032.8959%2036.2213%2032.5748%2036.2438%2032.5103L36.4418%2031.7486L36.5538%2031.1083L36.6197%2030.4681L36.6317%2029.7173C36.6273%2029.6553%2036.6047%2029.3318%2036.4721%2028.9555C36.4528%2028.8957%2036.3511%2028.5801%2036.0581%2028.2822C36.0076%2028.2307%2035.7647%2027.984%2035.2818%2027.8074C35.1915%2027.7713%2034.8119%2027.6198%2034.074%2027.6198C33.3356%2027.6198%2032.8988%2027.7734%2032.8021%2027.8074ZM16.2243%2018.0371C19.1879%2018.0371%2020.8618%2017.0233%2021.2023%2016.5018H23.1817C22.9538%2018.1432%2022.7258%2019.7843%2022.4979%2021.4254H6.6506C6.87851%2019.7843%207.10642%2018.1432%207.33433%2016.5018L8.89093%2016.2182C9.2144%2013.8888%209.53787%2011.5593%209.86133%209.23003L8.38374%208.94627C8.61252%207.29765%208.84152%205.64882%209.07052%204H24.9178C24.6899%205.64133%2024.462%207.28244%2024.2341%208.92377H22.3258C22.0638%208.48625%2020.3852%207.38828%2017.7032%207.38828C17.5148%208.74334%2017.3268%2010.0984%2017.1385%2011.4535C18.3579%2011.2076%2019.5773%2010.962%2020.7968%2010.7161C20.6108%2012.0547%2020.425%2013.3934%2020.2391%2014.7322C19.088%2014.4863%2017.9368%2014.2404%2016.7857%2013.9947C16.5984%2015.3422%2016.4113%2016.6898%2016.2243%2018.0371ZM34.4142%2017.164C34.9358%2017.171%2039.3738%2017.2315%2040.7318%2015.617H42.7278C42.4589%2017.5531%2042.1901%2019.4892%2041.9213%2021.4254H23.6953C23.9233%2019.7843%2024.1512%2018.1432%2024.3791%2016.5018L25.9357%2016.2182C26.2592%2013.8888%2026.5826%2011.5593%2026.9061%209.23003L25.4316%208.92356C25.6594%207.28244%2025.8873%205.64133%2026.1153%204H37.7597C37.5318%205.64133%2037.3038%207.28244%2037.0759%208.92356L35.5161%209.23003C35.1488%2011.8745%2034.7814%2014.5192%2034.4142%2017.164Z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%220.7%22%2F%3E%3C%2Fsvg%3E'; this.style.opacity='1'; document.getElementById('space-placeholder')?.remove();"
          />
        </div>
      </div>
    </div>

    <div
      class="bg-(--surface-primary) flex flex-col lg:flex-row items-start lg:items-center"
    >
      <div class="relative px-4 py-8 lg:p-8 xl:p-12 my-8">
        <h2
          class="flex flex-col-reverse font-display font-black leading-[1] text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-(--content-heading) text-balance mb-2"
        >
          Community
          <small
            class="font-sans font-semibold text-sm lg:text-md tracking-wide uppercase text-(--content-meta)"
          >
            Building Something Together
          </small>
        </h2>
        <p class="mb-8 text-balance max-w-[44ch]">
          This shop exists because of the skate community here in Eau Claire.
          Check out what's been happening and what's coming up next.
        </p>
        <Button variant="primary" href="/news">See Latest News & Events</Button>
        {/* Community article cards will go here - component TBD */}
      </div>
    </div>

    <div
      class="bg-(--surface-secondary) flex flex-col lg:flex-row items-start lg:items-center"
    >
      <div class="relative lg:basis-1/2 px-4 py-8 lg:p-8 xl:p-12 my-8">
        <div class="w-full md:max-w-lg mx-auto">
          <h2
            class="flex flex-col-reverse font-display font-black text-4xl leading-[1] md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-(--content-heading) text-balance mb-2"
          >
            Time & Space
            <small
              class="font-sans font-semibold text-sm lg:text-md tracking-wide uppercase text-(--content-meta)"
            >
              Come Visit Us
            </small>
          </h2>

          <div class="space-y-6 w-full">
            <div>
              <h3 class="font-semibold text-lg mb-2">Address</h3>
              <p class="text-pretty">
                {siteConfig.contact.address.street}<br />
                {siteConfig.contact.address.city}, {
                  siteConfig.contact.address.state
                }
                {siteConfig.contact.address.zip}
              </p>
            </div>

            <div>
              <h3 class="font-semibold text-lg mb-3">Store Hours</h3>
              <div class="space-y-1">
                {
                  siteConfig.hours.map((day) => (
                    <div class="flex justify-between">
                      <span class={!day.isOpen ? "text-(--content-meta)" : ""}>
                        {day.day}
                      </span>
                      <span class={!day.isOpen ? "text-(--content-meta)" : ""}>
                        {day.hours}
                      </span>
                    </div>
                  ))
                }
              </div>
              <p class="text-sm text-(--content-meta) mt-3">
                Closed Mon-Tues for sanity purposes.
              </p>
            </div>

            <div>
              <h3 class="font-semibold text-lg mb-2">Get in Touch</h3>
              <a
                href={`tel:${siteConfig.contact.phone.number}`}
                class="relative font-semibold hover:text-ui-nav-hover before:absolute before:-bottom-0.5 before:left-0 before:w-full before:h-0.5 before:bg-(--ui-nav-hover) before:transform before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left"
              >
                {siteConfig.contact.phone.display}
              </a><br />
              <a
                href={`mailto:${siteConfig.contact.email}`}
                class="relative font-semibold hover:text-ui-nav-hover before:absolute before:-bottom-0.5 before:left-0 before:w-full before:h-0.5 before:bg-(--ui-nav-hover) before:transform before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left"
              >
                {siteConfig.contact.email}
              </a>

              <div class="flex gap-2 mt-2">
                {
                  siteConfig.social.map((social) => (
                    <a
                      href={social.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="text-2xl hover:text-(--content-heading) transition-colors"
                      aria-label={`Visit us on ${social.platform}`}
                    >
                      <iconify-icon icon={social.icon} />
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="aspect-square border-4 border-(--surface-secondary) overflow-hidden bg-(--surface-secondary) relative basis-1/2 self-center w-full"
      >
        <div class="relative w-full h-full">
          <div
            class="loading-skeleton absolute inset-0 animate-pulse bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200"
            id="location-placeholder"
            style="animation: shimmer 1.5s ease-in-out infinite;"
          >
            <div
              class="absolute inset-0 flex items-center justify-center opacity-70"
              style="background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2232%22%20viewBox%3D%220%200%2036%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.014%2032h-.07a13%2013%200%200%201-3.455-.456c-1.567-.441-2.468-1.263-2.644-1.422-.174-.163-1.064-.992-1.549-2.493-.484-1.502-.238-3.252-.198-3.533.278-1.982.967-3.164%201.113-3.415a7.8%207.8%200%200%201%202.137-2.355c.213-.152%201.304-.932%202.996-1.374.287-.074%201.702-.441%203.695-.441%201.225%200%202.01.096%202.184.118.97.117%201.597.262%201.734.294.764.177%201.23.361%201.334.402l1.031.422-.635%204.514h-3.124c-.43-.706-.933-.982-1.038-1.04-.596-.334-1.175-.334-1.281-.334-.095%200-.581%200-1.162.216a3.7%203.7%200%200%200-1.054.628c-.08.069-.483.413-.827%201.011-.058.1-.342.59-.45%201.354-.02.149-.177%201.263-.034%201.871.142.609.46.935.523%201.001.064.065.391.393.998.58l.723.146%201.135.03c.17-.005%201.092-.039%202.112-.163%204.23-.714%205.213-4.63%205.708-5.675l.1-.233a8%208%200%200%201%201.206-1.933l.002-.004c.212-.26%201.31-1.615%203.531-2.392l.132-.048a13%2013%200%200%201%202.303-.579c.199-.03%201.22-.186%202.507-.186h.01c1.282%200%202.251.155%202.445.186%201.168.187%201.986.513%202.15.58a6.9%206.9%200%200%201%201.739%201c.12.096.765.608%201.249%201.453.448.782.603%201.773.628%201.933.03.192.172%201.087-.007%202.433-.285%202.149-1.053%203.378-1.218%203.64a8.4%208.4%200%200%201-2.34%202.474%209.5%209.5%200%200%201-3.152%201.374c-.289.066-1.81.416-3.682.416-.194%200-1.153%200-2.427-.161a8.5%208.5%200%200%201-2.134-.55%207%207%200%200%201-1.734-1.03l-.605-.595c-3%201.746-7.412%202.136-8.082%202.195-.2.018-1.476.134-2.514.14zm17.908-10.838c-.469.157-.75.378-.807.422-.328.265-.497.545-.53.599l-.334.677-.177.667-.09.57-.07.568-.012.678.142.686c.017.055.107.344.36.619.044.045.263.265.686.431.082.032.433.167%201.098.167.664%200%201.048-.136%201.134-.167.48-.166.76-.386.818-.431.34-.275.51-.562.544-.619.215-.344.315-.63.335-.686l.179-.678.1-.569.06-.569.01-.667a2.6%202.6%200%200%200-.143-.677c-.018-.053-.109-.334-.373-.599-.045-.046-.264-.265-.698-.422-.082-.032-.423-.167-1.087-.167-.665%200-1.058.137-1.145.167m-14.92-8.684c2.667%200%204.174-.902%204.48-1.365h1.782l-.616%204.376H2.386L3%2011.113l1.4-.252.874-6.212-1.33-.252L4.563%200h14.263l-.615%204.377h-1.718c-.235-.39-1.746-1.365-4.16-1.365l-.508%203.613%203.292-.655-.502%203.57-3.108-.656zm16.37-.777c.47.007%204.464.06%205.687-1.375h1.796l-.726%205.163H17.726l.615-4.376%201.401-.252.874-6.212-1.328-.272L19.904%200h10.48l-.616%204.377-1.404.272z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E'); background-size: 48px 42px; background-position: center; background-repeat: no-repeat;"
            >
            </div>
          </div>

          <img
            src="/src/assets/the-shop-04.png"
            alt="Water Street location"
            class="w-full h-full object-cover opacity-0 transition-opacity duration-300"
            loading="lazy"
            onload="this.style.opacity='0.9';"
            onerror="this.src='data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2244%22%20viewBox%3D%220%200%2048%2044%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2248%22%20height%3D%2244%22%20fill%3D%22white%22%20fill-opacity%3D%220.7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.904%2039.9998L12.827%2040C10.7973%2040%209.28558%2039.5717%208.98823%2039.4875C7.2466%2038.9908%206.24507%2038.0664%206.05024%2037.8868C5.85673%2037.7041%204.86739%2036.7717%204.32907%2035.0827C3.79098%2033.393%204.06438%2031.424%204.10835%2031.1083C4.41789%2028.8789%205.18323%2027.5482%205.34541%2027.2665C6.28447%2025.6546%207.48735%2024.7851%207.72026%2024.617C7.95644%2024.4461%209.16912%2023.5682%2011.049%2023.0713C11.3683%2022.9875%2012.9403%2022.5746%2015.1546%2022.5746C16.5158%2022.5746%2017.3886%2022.6832%2017.5815%2022.7072C18.6588%2022.8396%2019.3555%2023.0028%2019.5075%2023.0382C20.3568%2023.2372%2020.8753%2023.4448%2020.9903%2023.4909L22.1355%2023.9657C21.9004%2025.6583%2021.6653%2027.3511%2021.4303%2029.0439H17.9585C17.4809%2028.2493%2016.9223%2027.9384%2016.8061%2027.8736C16.1433%2027.4983%2015.5003%2027.4983%2015.3821%2027.4983C15.2767%2027.4983%2014.7362%2027.4983%2014.0913%2027.7413C13.9885%2027.7807%2013.4576%2027.9843%2012.9203%2028.4478C12.8311%2028.5247%2012.3829%2028.9116%2012.0013%2029.5847C11.9369%2029.6968%2011.6208%2030.2474%2011.5013%2031.1083C11.478%2031.2752%2011.3041%2032.5284%2011.4628%2033.2133C11.6213%2033.8974%2011.9737%2034.2651%2012.0446%2034.3393C12.1158%2034.4118%2012.4791%2034.7808%2013.1537%2034.9906L13.9563%2035.1554L15.2175%2035.1904C15.4058%2035.1835%2016.431%2035.1461%2017.5641%2035.0065C22.2646%2034.2029%2023.3571%2029.7977%2023.9069%2028.6215L24.0171%2028.3595C24.5561%2027.1344%2025.2245%2026.3417%2025.3573%2026.1846L25.3606%2026.1806C25.5954%2025.8873%2026.8158%2024.3632%2029.2838%2023.4893L29.4298%2023.4357C29.6279%2023.3638%2030.6452%2022.994%2031.9888%2022.7844C32.2096%2022.7503%2033.3443%2022.5746%2034.7747%2022.5746H34.786C36.2098%2022.5754%2037.2871%2022.7496%2037.5022%2022.7844C38.7998%2022.9942%2039.7083%2023.3617%2039.8914%2023.4357C40.9837%2023.8774%2041.6851%2024.4495%2041.8228%2024.5618C41.9576%2024.6701%2042.6738%2025.2462%2043.2108%2026.1956C43.7088%2027.0762%2043.8808%2028.1905%2043.9086%2028.3705C43.9426%2028.5869%2044.1002%2029.5933%2043.9014%2031.1083C43.5843%2033.5256%2042.7306%2034.9081%2042.5479%2035.204C41.5044%2036.9042%2040.1994%2037.8105%2039.9469%2037.986C39.6973%2038.1595%2038.3898%2039.0678%2036.4452%2039.5317C36.1249%2039.6062%2034.4344%2040%2032.3546%2040C32.1384%2040%2031.0728%2040%2029.6578%2039.8188C28.3773%2039.6531%2027.4671%2039.2752%2027.2868%2039.2004C26.2078%2038.7479%2025.4973%2038.1557%2025.3599%2038.0412L24.6875%2037.3722C21.3547%2039.3369%2016.4519%2039.7748%2015.7077%2039.8414C15.4848%2039.8619%2014.0673%2039.9923%2012.9147%2039.9998H12.904ZM32.8021%2027.8074C32.2814%2027.9843%2031.9688%2028.2322%2031.9057%2028.2822C31.5413%2028.5803%2031.3528%2028.8947%2031.3163%2028.9555L30.9453%2029.7173L30.7488%2030.4681L30.6482%2031.1083L30.5709%2031.7486L30.5574%2032.5103L30.7153%2033.2832C30.7339%2033.3441%2030.8345%2033.6693%2031.1147%2033.9787C31.1649%2034.0297%2031.4077%2034.2766%2031.8776%2034.4643C31.9693%2034.4999%2032.3589%2034.652%2033.0973%2034.652C33.8354%2034.652%2034.2618%2034.4987%2034.3574%2034.4643C34.8907%2034.2768%2035.2028%2034.0295%2035.2671%2033.9787C35.6443%2033.6695%2035.8341%2033.3461%2035.8711%2033.2832C36.1097%2032.8959%2036.2213%2032.5748%2036.2438%2032.5103L36.4418%2031.7486L36.5538%2031.1083L36.6197%2030.4681L36.6317%2029.7173C36.6273%2029.6553%2036.6047%2029.3318%2036.4721%2028.9555C36.4528%2028.8957%2036.3511%2028.5801%2036.0581%2028.2822C36.0076%2028.2307%2035.7647%2027.984%2035.2818%2027.8074C35.1915%2027.7713%2034.8119%2027.6198%2034.074%2027.6198C33.3356%2027.6198%2032.8988%2027.7734%2032.8021%2027.8074ZM16.2243%2018.0371C19.1879%2018.0371%2020.8618%2017.0233%2021.2023%2016.5018H23.1817C22.9538%2018.1432%2022.7258%2019.7843%2022.4979%2021.4254H6.6506C6.87851%2019.7843%207.10642%2018.1432%207.33433%2016.5018L8.89093%2016.2182C9.2144%2013.8888%209.53787%2011.5593%209.86133%209.23003L8.38374%208.94627C8.61252%207.29765%208.84152%205.64882%209.07052%204H24.9178C24.6899%205.64133%2024.462%207.28244%2024.2341%208.92377H22.3258C22.0638%208.48625%2020.3852%207.38828%2017.7032%207.38828C17.5148%208.74334%2017.3268%2010.0984%2017.1385%2011.4535C18.3579%2011.2076%2019.5773%2010.962%2020.7968%2010.7161C20.6108%2012.0547%2020.425%2013.3934%2020.2391%2014.7322C19.088%2014.4863%2017.9368%2014.2404%2016.7857%2013.9947C16.5984%2015.3422%2016.4113%2016.6898%2016.2243%2018.0371ZM34.4142%2017.164C34.9358%2017.171%2039.3738%2017.2315%2040.7318%2015.617H42.7278C42.4589%2017.5531%2042.1901%2019.4892%2041.9213%2021.4254H23.6953C23.9233%2019.7843%2024.1512%2018.1432%2024.3791%2016.5018L25.9357%2016.2182C26.2592%2013.8888%2026.5826%2011.5593%2026.9061%209.23003L25.4316%208.92356C25.6594%207.28244%2025.8873%205.64133%2026.1153%204H37.7597C37.5318%205.64133%2037.3038%207.28244%2037.0759%208.92356L35.5161%209.23003C35.1488%2011.8745%2034.7814%2014.5192%2034.4142%2017.164Z%22%20fill%3D%22%2359564F%22%20fill-opacity%3D%220.7%22%2F%3E%3C%2Fsvg%3E'; this.style.opacity='1'; document.getElementById('location-placeholder')?.remove();"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  // Add iconify for social icons if not already loaded
  if (!customElements.get("iconify-icon")) {
    const script = document.createElement("script");
    script.src =
      "https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js";
    document.head.appendChild(script);
  }
</script>
