---
import Layout from "../layouts/Layout.astro";
import PromoCard from "../components/PromoCard.astro";
import Sidebar from "../components/Sidebar.astro";

const cardData = [
  {
    title: "Polar Skate Co",
    pretitle: "Just in",
    description: "New boards, apparel, and more from our friends at Polar.",
    img: "/images/promo-img-01.png",
    button: "Shop Polar",
    link: "http://www.travishall.design",
    banner: true,
  },
  {
    title: "Dickies Skateboarding Guy Mariano Collection",
    pretitle: "Introducing",
    description: "Now available in store and online.",
    img: "/images/promo-img-02.png",
    button: "Shop The Collection",
    link: "http://www.travishall.design",
    banner: false,
  },
  {
    title: "GX1000",
    pretitle: "Bomb hills not countries",
    description: "New boards from GX1000 now in stock!",
    img: "/images/promo-img-03.png",
    button: "Shop GX1000",
    link: "http://www.travishall.design",
    banner: false,
  },
  {
    title: "Vans Skate AVE 2.0",
    pretitle: "",
    description: "",
    img: "/images/promo-img-04.png",
    button: "Shop Vans AVE",
    link: "http://www.travishall.design",
    banner: false,
  },
  {
    title: "New Balance 480s",
    pretitle: "Now in stock",
    description: "",
    img: "/images/promo-img-05.png",
    button: "Shop New Balance",
    link: "http://www.travishall.design",
    banner: false,
  },
  {
    title: "Tyshawn II",
    pretitle: "Adidas",
    description: "",
    img: "/images/promo-img-06.png",
    button: "Shop Tyshawn II",
    link: "http://www.travishall.design",
    banner: false,
  },
];
---

<Layout title="El Camino Skate Shop">
  <main>
    <div
      class="card-grid grid justify-center grid-cols-6 2xl:grid-cols-8 md:auto-rows-[10vw] lg:auto-rows-[9vw] 2xl:auto-rows-[8vw] max-w-[120rem] mx-auto gap-1 p-1"
    >
      {
        cardData.map((e) => (
          <PromoCard
            title={e.title}
            pretitle={e.pretitle}
            description={e.description}
            src={e.img}
            label={e.button}
            url={e.link}
            banner={e.banner}
          />
        ))
      }
      <PromoCard />
      <PromoCard />
      <!-- SIDEBAR -->
      <Sidebar />
    </div>
  </main>
</Layout>
