---
import Layout from "../layouts/Layout.astro";
import PromoCard from "../components/PromoCard.astro";
import Sidebar from "../components/Sidebar.astro";

const cardData = [
  {
    title: "Polar Skate Co",
    pretitle: "Just in",
    description: "New boards, apparel, and more from our friends at Polar.",
    img: "/images/promo-img-01.png",
    button: "Shop Polar",
    link: "https://usa.polarskateco.com",
    banner: true,
  },
  {
    title: "Dickies Skateboarding Guy Mariano Collection",
    pretitle: "Introducing",
    description: "Now available in store and online.",
    img: "/images/promo-img-02.png",
    button: "Shop The Collection",
    link: "https://www.dickies.com/guy-mariano",
    banner: false,
  },
  {
    title: "GX1000",
    pretitle: "Bomb hills not countries",
    description: "New boards from GX1000 now in stock!",
    img: "/images/promo-img-03.png",
    button: "Shop GX1000",
    link: "https://gx1000.com/",
    banner: false,
  },
  {
    title: "Vans Skate AVE 2.0",
    pretitle: "",
    description: "",
    img: "/images/promo-img-04.png",
    button: "Shop Vans AVE",
    link: "https://www.vans.com/en-us/shoes-c00081/ave-20-shoe-pvn0a2z3hmgr",
    banner: false,
  },
  {
    title: "New Balance 480s",
    pretitle: "Now in stock",
    description: "",
    img: "/images/promo-img-05.png",
    button: "Shop New Balance",
    link: "https://www.newbalance.com/pd/nb-numeric-480-high/NM480HV1-45867.html",
    banner: false,
  },
  {
    title: "Tyshawn II",
    pretitle: "Adidas",
    description: "",
    img: "/images/promo-img-06.png",
    button: "Shop Tyshawn II",
    link: "https://www.adidas.com/us/tyshawn-ii-shoes/IF9712.html",
    banner: false,
  },
];
---

<Layout title="El Camino Skate Shop">
  <main>
    <div
      class="card-grid grid justify-center grid-cols-6 2xl:grid-cols-8 md:auto-rows-[10vw] max-w-[120rem] mx-auto gap-1 p-1"
    >
      {
        cardData.map((e) => (
          <PromoCard
            title={e.title}
            pretitle={e.pretitle}
            description={e.description}
            src={e.img}
            label={e.button}
            url={e.link}
            banner={e.banner}
          />
        ))
      }
      <Sidebar />
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const cardGrid = document.querySelector(".card-grid");
        const sidebar = document.querySelector(".sidebar") as HTMLElement;

        function adjustSidebar() {
          // Only adjust sidebar for md breakpoint and larger
          if (
            window.matchMedia("(min-width: 768px)").matches &&
            cardGrid &&
            sidebar
          ) {
            // Reset the sidebar's gridRowEnd before recalculating
            sidebar.style.gridRowEnd = "";

            // Get the computed styles of the card grid
            const computedStyle = getComputedStyle(cardGrid);
            // Get the height of one row
            const rowHeight = parseFloat(
              computedStyle.getPropertyValue("grid-auto-rows")
            );
            // Calculate the number of rows in the grid
            const gridHeight = cardGrid.scrollHeight;
            const rows = Math.ceil(gridHeight / rowHeight);
            // Set the sidebar to end at the last row
            sidebar.style.gridRowEnd = `${rows + 1}`;
          } else if (sidebar) {
            // Reset the grid-row-end if not in the md breakpoint
            sidebar.style.gridRowEnd = "";
          }
        }

        // Initial adjustment
        adjustSidebar();

        // Adjust on window resize
        window.addEventListener("resize", adjustSidebar);
      });
    </script>
  </main>
</Layout>
