---
import Button from "./Button.astro";

const {
  src = "/images/placeholder.png",
  title = "Card Title",
  pretitle = "Card Pretitle",
  description = "Use description for the body text of the Promo Card.",
  label = "Button Label",
  url = "http://www.travishall.design",
  banner,
} = Astro.props;
---

<div
  class="card relative flex flex-col aspect-[3_/_5] md:aspect-auto col-span-full md:first-of-type:col-span-4 md:col-span-2 md:row-span-5 md:first-of-type:row-span-4"
>
  <img
    src={src}
    alt={title}
    class:list={[
      "card-img object-cover -z-10 w-full h-full",
      banner || "opacity-10",
    ]}
  />
  <div
    class:list={[
      "card-content flex flex-col gap-4 lg:gap-6 px-6 py-12 xl:p-12 absolute bottom-0 w-full",
      !banner ||
        "bg-beeswax-200/90 dark:bg-fig-leaf-800/90 md:bg-beeswax-200 md:dark:bg-fig-leaf-800 md:border-t-4 md:border-t-beeswax-100 md:dark:border-t-fig-leaf-900 md:border-l-4 md:border-l-beeswax-100 md:dark:border-l-fig-leaf-900 md:w-2/3 right-0",
    ]}
  >
    {
      pretitle.length > 1 && (
        <span class="card-preheading font-display font-semibold text-base tracking-wide uppercase -mb-4">
          {pretitle}
        </span>
      )
    }
    {
      title.length > 1 && (
        <h1 class="card-heading font-display font-black tracking-wide text-6xl leading-[0.8] md:text-5xl md:leading-[0.8] xl:text-6xl xl:leading-[0.8] 2xl:text-7xl 2xl:leading-[0.8]">
          {title}
        </h1>
      )
    }
    {
      description.length > 1 && (
        <p class="description text-sm leading-snug md:text-base md:leading-snug 2xl:text-lg 2xl:leading-snug">
          {description}
        </p>
      )
    }
    {
      url.length > 1 && label.length > 1 && (
        <Button classes="card-btn self-start">{label}</Button>
      )
    }
  </div>
</div>
