---
import { SEOMetadata } from "astro-seo-metadata";
import type { SEO } from "@/lib/types/content";
import {
  generateWebPageSchema,
  generateOrganizationSchema,
} from "@/lib/seo/structured-data";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/globals.css";

interface Props {
  seo?: SEO;
  structuredData?: object;
}

const { seo, structuredData } = Astro.props;

const DEFAULT_SEO = {
  title: "El Camino Skate Shop",
  description:
    "El Camino Skate Shop is a skater owned and operated skateboard shop, located in Eau Claire, WI",
  image: "/default-og-image.jpg",
};

const seoData = {
  ...DEFAULT_SEO,
  ...seo,
};

const orgSchema = generateOrganizationSchema({
  name: "El Camino Skate Shop",
  logo: "/logo.png",
  address: "1901 Brackett Ave #1, Eau Claire, WI 54701",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEOMetadata
      siteName="El Camino Skate Shop"
      title={seoData.title}
      description={seoData.description}
      image={seoData.image}
      favicon="/favicon.svg"
      author="Travis Hall"
      copyright="ISC"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type="website"
      astroGenerator={true}
    />

    {seoData.noIndex && <meta name="robots" content="noindex" />}

    <script type="application/ld+json" set:html={JSON.stringify(orgSchema)} />
    {
      structuredData && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(structuredData)}
        />
      )
    }

    <script is:inline async src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
  </head>
  <body
    class="bg-surface-primary text-content-body grid grid-rows-[auto_1fr_auto] min-h-screen"
  >
    <Header />
    <main class="bg-surface-primary text-content-body z-10 relative">
      <slot />
    </main>
    <Footer />
  </body>
</html>
