---
import { SEOMetadata } from "astro-seo-metadata";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <SEOMetadata
      siteName={"El Camino Skate Shop"}
      title={"El Camino Skate Shop"}
      description={"El Camino Skate Shop is a skater owned and operated skateboard shop, located in Eau Claire, WI"}
      image={"http://example.com/the_image_url-preferably_absolute.jpg"}
      favicon={"/favicon.svg"}
      author="Travis Hall"
      copyright="ISC"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={"website"}
      astroGenerator={true}
    />
  </head>
  <body
    class="bg-beeswax-100 dark:bg-fig-leaf-900 text-fig-leaf-900 dark:text-beeswax-50"
  >
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Alumni";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(/fonts/AlumniSans.woff2) format("woff2");
      }
      @font-face {
        font-family: "Alumni Italic";
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url(/fonts/AlumniSans-Italic.woff2) format("woff2");
      }
      @font-face {
        font-family: "Cabin";
        font-style: normal;
        font-weight: 400 600;
        font-display: swap;
        src: url(/fonts/Cabin.woff2) format("woff2");
      }
      @font-face {
        font-family: "Cabin Italic";
        font-style: italic;
        font-weight: 400 600;
        font-display: swap;
        src: url(/fonts/Cabin-Italic.woff2) format("woff2");
      }

      * {
        text-wrap: pretty;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-wrap: balance;
      }
    </style>
  </body>
</html>
